<div class="row" id="detail">
  <div class="col-md-6">
    <a data-toggle="lightbox" data-footer="{{{yavu name}}}" href="{{{yubl (yavd (yufull  photo ))}}}"><img src="{{{yubl (yavd (yufull  photo ))}}}" class="img-responsive" />
    </a>
  </div>
  <div class="col-md-6">
    <h4>{{{yd  name }}}</h4>
    <p class="description">{{{yd  description }}}</p>
    <div class="row">
      <div class="col-xs-4">
        <div class="product-price">$ {{{yd  price }}}</div>
      </div>
      <div class="col-xs-6 col-md-offset-2">
        <button data-id={{{yavu id}}} id="cart" class="btn btn-lg btn-danger">Add to cart</button>
      </div>
    </div>
  </div>
  <a href="#" id="back" class="btn btn-default">Back</a>
</div>
